<h1>Employee Roster</h1>

<div class="well">
  <%= form_tag employees_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>

<br />
<%= link_to 'Add a New Employee', new_employee_path, :class => "btn" %>
<br /><br />

<table>
  <tr>
    <th style="padding-left:30px">Name</th>
    <th style="padding-left:30px">Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td style="padding-left:30px"><%= link_to employee.name, employee %></td>
    <td style="padding-left:30px"><%= employee.phone %></td>
  </tr>
<% end %>
</table>

<%= paginate @employees %>
<br /><br />
<%= link_to "Export CSV", employees_path(format: "csv") %> |
<%= link_to "Export XLS", employees_path(format: "xls") %><br />
<%= form_tag import_employees_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
