<h1><%= @employee.name %></h1>
<h4 style="padding-left:20px">
  <b>Phone:</b>
  <%= @employee.phone %>
</h4>

<br />

<% if @employee.checkedout_items %>
  <h3>Currently Checked-OUT Items</h3>
  <table>
    <tr>
      <th>Item ID</th>
      <th style="padding-left:30px">Asset Tag</th>
    </tr>
    <% @employee.checkedout_items.each do |transaction| %>
      <tr>
        <td style="padding-left:30px"> 
          <%= transaction.description %>
        </td>
        <td style="padding-left:30px">
          <%= transaction.assettag %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<br /><br />

<% if @employee.transactions.count != 0 %>
  <h3>Check-IN / Check-OUT History</h3>
    <table>
      <tr>
        <th>Description</th>
        <th style="padding-left:30px">Asset Tag</th>
        <th style="padding-left:30px">Date</th>
        <th style="padding-left:30px">CheckIn/Checkout</th>
      </tr>
      <% @employee.transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.description %></td>
          <td style="padding-left:30px"><%= transaction.assettag %></td>
          <td style="padding-left:30px"><%= transaction.created_at.strftime("%A, %m/%d/%Y") %>
          <% if transaction.status == true %>  
            <td style="padding-left:30px">Check In</td>
          <% elsif transaction.status == false %>
            <td style="padding-left:30px">Check Out</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br>

<%= link_to 'Edit This Employee', edit_employee_path(@employee) %> |
<%= link_to 'Delete This Employee', @employee, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', employees_path %>
