<h1>Item Inventory</h1>

<table>
  <tr>
    <th style="padding-left:30px">Description</th>
    <th style="padding-left:30px">Asset ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td style="padding-left:30px"><%= item.description %></td>
    <td style="padding-left:30px"><%= item.assettag %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Item', new_item_path %>
