<h1>
  <%= @item.description %>
</h1>

<h3 style="padding-left:30px">
  <b>Asset ID:</b>
  <%= @item.assettag %>
</h3>

<div class="center hero-unit">
  <% if @item.transactions.last %>
    <h2>This tool is currently 
      <% if @item.transactions.last.status == true %>
        CHECKED-IN at
      <% else %>
        CHECKED-OUT at
      <% end %>
      <%= @item.transactions.last.created_at.strftime("%A, %m/%d/%Y") %>, by
      <%= @item.transactions.last.employee.name %>, reachable at 
      <%= @item.transactions.last.employee.phone %>.
    </h2>
  <% else %>
    <h2>This item has yet to be checked out.</h2>
  <% end %>
</div>

<% if @item.transactions.count != 0 %>
  <h3 style="padding-left:30px">Other Check-in / Check-out records:</h3>
  <table>
    <tr>
      <th style="padding-left:30px">Employee</th>
      <th style="padding-left:30px">Phone Number</th>
      <th style="padding-left:30px">Date</th>
      <th style="padding-left:30px">CheckIN / CheckOUT</th>
    </tr>
    <% @item.transactions.reverse_each do |transaction| %>
      <tr>
        <td style="padding-left:30px"><%= transaction.employee.name %></td>
        <td style="padding-left:30px"><%= transaction.employee.phone %></td>
        <td style="padding-left:30px"><%= transaction.created_at.strftime("%A, %m/%d/%Y") %></td>

        <% if transaction.status == true %>
          <td style="padding-left:30px">Check In</td> 
        <% elsif transaction.status == false %>
          <td style="padding-left:30px">Check Out</td> 
        <% end %>

      </tr>
    <% end %>
  </table>
<% end %>

<br>

<%= link_to 'Edit This Item\'s Details', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
