<%= simple_form_for(@transaction, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status %> 
    <%= f.input :item_id %>
    <%= f.input :employee_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <p class="pull-right">
      <em>(As a reminder, Check the box for 'CHECK-IN' and leave the box unchecked for "CHECK-OUT")</em>
    </p>
  </div>
<% end %>
