<%= simple_form_for(@transaction, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status %> 
    <%= f.input :item_id %>
    <%= f.input :employee_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
