<h1>Check-IN / Check-OUT History</h1>

<table>
  <tr>
    <th>Date</th>
    <th style="padding-left:30px">Status</th>
    <th style="padding-left:30px">Item</th>
    <th style="padding-left:30px">Assettag</th>
    <th style="padding-left:30px">Item Description</th>
    <th style="padding-left:30px">Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td style="padding-left:30px"><%= link_to transaction.created_at.strftime("%A, %m/%d/%Y"), transaction %></td>
    <td style="padding-left:30px"><%= transaction.status %></td>
    <td style="padding-left:30px"><%= transaction.item_id %></td>
    <td style="padding-left:30px"><%= transaction.assettag %></td>
    <td style="padding-left:30px"><%= transaction.description %></td>
    <td style="padding-left:30px"><%= transaction.name %></td>
    <td style="padding-left:30px"><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Enter a New Transaction Manually', new_transaction_path, :class => "btn" %>
