<p>
  <b>Status:</b>
  <%= @transaction.status %>
</p>

<p>
  <b>Item </b>
  <%= @transaction.item_id %>
</p>

<p>
  <b>Item assettag </b>
  <%= @transaction.assettag %>
</p>

<p>                                                                             
  <b>Item </b>                                                                  
  <%= @transaction.description %>                                                   
</p>

<p>
  <b>Employee</b>
  <%= @transaction.name %>
  </p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
